Import necessary libraries 

---

In [ ]:
import pandas as pd
import numpy as np

Find the version of Pandas 

---

In [ ]:
pd.__version__

'1.1.4'

Mount drive

---

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

Load files

---

In [ ]:
DIR='/content/drive/My Drive/Colab Notebooks/FML_LAB_ASSIN_2'
datafile1 ='SSLC_Score.csv'
filename1= DIR+'/'+datafile1

List out all the files in the current directory

---

In [ ]:
import os
os.chdir(DIR)
os.listdir(DIR)

['SSLC_Scores.csv']

Read the .csv file 

---

In [ ]:
df1=pd.read_csv('SSLC_Scores.csv')
df1

    Sl            Student Gender    Age  ... S.S.  Total  Perc Result
0    1        Adhil Pasha       m  17.0  ...   59    380  76.0    pass
1    2         Anjali P.S       f  16.0  ...   33    192  38.0    fail
2    3           Asfiya Z       f  17.0  ...   66    340  68.0    pass
3    4  Bharath Kumar M.V       m   NaN  ...   78    403  81.0    pass
4    5  Bhargav Reddy Y.S       m   NaN  ...   72    366  73.0    pass
5    6        Bhavani P.V       f  15.0  ...   53    320  64.0    pass
6    7  Chandra Kanth V.N       m  16.0  ...   59    340  68.0    pass
7    8        Dharani R.B       f  16.0  ...   57    347  69.0    pass
8    9          Divya T.D       f  17.0  ...   33    321  64.0    pass
9   10         Janaki G.J       f   NaN  ...   48    356  71.0    pass
10  11      Ghansi Rani S       f  17.0  ...   59    386  77.0    pass
11  12        Keerthi M.N       m   NaN  ...   45    256  51.0    pass
12  13    Misbha Sulthana       f  12.0  ...   41    307  61.0    pass
13  14  Mohammed Sulaiman       m  17.0  ...   50    359  72.0    pass
14  15        Naresha K.A       m   NaN  ...   46    264  53.0    pass
15  16        Neha Khanam       f  15.0  ...   40    286  57.0    pass
16  17     Noorain Sadiya       f  16.0  ...   54    320  64.0    pass
17  18        Sameer Khan       m  18.0  ...   75    441  88.0    pass
18  19            Samreen       m  16.0  ...   47    361  72.0    pass
19  20   Sanjay Reddy P.G       m  16.0  ...   59    314  63.0    pass
20  21      Shanmukha G.S       m  18.0  ...   23    221  46.0    pass
21  22       Shravani C.N       f  16.0  ...   57    327  65.0    pass
22  23         Sindhu B.C       f  16.0  ...   73    421  84.0    pass
23  24      Sofiya Khanam       f  17.0  ...   46    326  65.0    pass
24  25       Srikanth K.B       f  16.0  ...   59    221  44.0    fail
25  26        Sushmitha P       f  16.0  ...   50    303  61.0    pass
26  27        Syed Safeer       m  17.0  ...   70    390  78.0    pass
27  28   Tanziya Banu A.I       f  16.0  ...   76    438  87.6    pass
28  29        Upendra C.V       m  17.0  ...   44    243  51.0    pass
29  30      Veena Reddy R       f  16.0  ...   64    341  68.0    pass
30  31    Vijay Kumar T.N       f  16.0  ...   68    384  77.0    pass
31  12        Keerthi M.N       m   NaN  ...   45    256  51.0    pass
32  24      Sofiya Khanam       f  17.0  ...   46    326  65.0    pass
33  25       Srikanth K.B       f  16.0  ...   59    221  44.0    fail
34  26        Sushmitha P       f  16.0  ...   50    303  61.0    pass
35  21      Shanmukha G.S       m  18.0  ...   23    221  46.0    pass
36  22       Shravani C.N       f  16.0  ...   57    327  65.0    pass

[37 rows x 14 columns]

Task : To understanding the data

Find the total number of rows and columns in the dataset 

---

In [ ]:
x= df1.size
print('Total number of rows and columns are:',x)

Total number of rows and columns are: 518

print number of observations (only records)

---

In [ ]:
rows,columns=df1.shape
print('NO. of Rows:',rows)

NO. of Rows: 37

print number of columns(only features)

---

In [ ]:
print('No. of Columns:',columns)

No. of Columns: 14

List out all the column names 

---

In [ ]:
df1.columns

Index(['Sl', 'Student', 'Gender ', 'Age', 'Hobbies ', 'Kan', 'Eng', 'Hin',
       'Math', 'Sci', 'S.S.', 'Total', 'Perc', 'Result '],
      dtype='object')

list the datatypes 

---

In [ ]:
df1.dtypes

Sl            int64
Student      object
Gender       object
Age         float64
Hobbies      object
Kan           int64
Eng           int64
Hin          object
Math         object
Sci           int64
S.S.          int64
Total         int64
Perc        float64
Result       object
dtype: object

Print first ten records 

---

In [ ]:
df1.head(10)

   Sl            Student Gender    Age  ... S.S.  Total  Perc Result
0   1        Adhil Pasha       m  17.0  ...   59    380  76.0    pass
1   2         Anjali P.S       f  16.0  ...   33    192  38.0    fail
2   3           Asfiya Z       f  17.0  ...   66    340  68.0    pass
3   4  Bharath Kumar M.V       m   NaN  ...   78    403  81.0    pass
4   5  Bhargav Reddy Y.S       m   NaN  ...   72    366  73.0    pass
5   6        Bhavani P.V       f  15.0  ...   53    320  64.0    pass
6   7  Chandra Kanth V.N       m  16.0  ...   59    340  68.0    pass
7   8        Dharani R.B       f  16.0  ...   57    347  69.0    pass
8   9          Divya T.D       f  17.0  ...   33    321  64.0    pass
9  10         Janaki G.J       f   NaN  ...   48    356  71.0    pass

[10 rows x 14 columns]

List out the last 2 rows 

---

In [ ]:
df1.tail(2)

    Sl        Student Gender    Age Hobbies   ...  Sci  S.S. Total  Perc  Result
35  21  Shanmukha G.S       m  18.0    chess  ...   38    23   221  46.0     pass
36  22   Shravani C.N       f  16.0    chess  ...   52    57   327  65.0     pass

[2 rows x 14 columns]

Find out the datatypes of the features 

---

In [ ]:
df1.dtypes

Sl            int64
Student      object
Gender       object
Age         float64
Hobbies      object
Kan           int64
Eng           int64
Hin          object
Math         object
Sci           int64
S.S.          int64
Total         int64
Perc        float64
Result       object
dtype: object

print information about dataframe about datatype , memory usage

---

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sl        37 non-null     int64
 1   Student   37 non-null     object
 2   Gender    37 non-null     object
 3   Age       31 non-null     float64
 4   Hobbies   37 non-null     object
 5   Kan       37 non-null     int64
 6   Eng       37 non-null     int64
 7   Hin       37 non-null     object
 8   Math      37 non-null     object
 9   Sci       37 non-null     int64
 10  S.S.      37 non-null     int64
 11  Total     37 non-null     int64
 12  Perc      37 non-null     float64
 13  Result    37 non-null     object
dtypes: float64(2), int64(6), object(6)
memory usage: 4.2+ KB

list out the column names

---

In [ ]:
df1.columns

Index(['Sl', 'Student', 'Gender ', 'Age', 'Hobbies ', 'Kan', 'Eng', 'Hin',
       'Math', 'Sci', 'S.S.', 'Total', 'Perc', 'Result '],
      dtype='object')

what is the 10 column name 

---

In [ ]:
df1.columns[10]

'S.S.'

what is the datatype of the column Total

In [ ]:
df1['Total'].dtype

dtype('int64')

Find out the statistical information (Min, Max, Std)  of the features.

---

In [ ]:
df1.describe()

              Sl        Age        Kan  ...       S.S.       Total       Perc
count  37.000000  31.000000  37.000000  ...  37.000000   37.000000  37.000000
mean   16.918919  16.290323  77.027027  ...  53.621622  322.378378  64.556757
std     8.772996   1.101319  11.424843  ...  13.754497   63.669438  12.530508
min     1.000000  12.000000  49.000000  ...  23.000000  192.000000  38.000000
25%    10.000000  16.000000  72.000000  ...  46.000000  286.000000  57.000000
50%    18.000000  16.000000  78.000000  ...  54.000000  326.000000  65.000000
75%    24.000000  17.000000  85.000000  ...  59.000000  361.000000  72.000000
max    31.000000  18.000000  94.000000  ...  78.000000  441.000000  88.000000

[8 rows x 8 columns]

check out it is a balanced dataset or not

---

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sl        37 non-null     int64
 1   Student   37 non-null     object
 2   Gender    37 non-null     object
 3   Age       31 non-null     float64
 4   Hobbies   37 non-null     object
 5   Kan       37 non-null     int64
 6   Eng       37 non-null     int64
 7   Hin       37 non-null     object
 8   Math      37 non-null     object
 9   Sci       37 non-null     int64
 10  S.S.      37 non-null     int64
 11  Total     37 non-null     int64
 12  Perc      37 non-null     float64
 13  Result    37 non-null     object
dtypes: float64(2), int64(6), object(6)
memory usage: 4.2+ KB

Since attribute age has only one record and rest of the attributes have 37 records,the data is not a balanced data.

How the dataset is indexed?

---

In [ ]:
df1.index

RangeIndex(start=0, stop=37, step=1)

List out the students name 

---

In [ ]:
df1['Student']

0           Adhil Pasha
1            Anjali P.S
2              Asfiya Z
3     Bharath Kumar M.V
4     Bhargav Reddy Y.S
5           Bhavani P.V
6     Chandra Kanth V.N
7           Dharani R.B
8             Divya T.D
9            Janaki G.J
10        Ghansi Rani S
11          Keerthi M.N
12      Misbha Sulthana
13    Mohammed Sulaiman
14          Naresha K.A
15          Neha Khanam
16       Noorain Sadiya
17          Sameer Khan
18              Samreen
19     Sanjay Reddy P.G
20        Shanmukha G.S
21         Shravani C.N
22           Sindhu B.C
23        Sofiya Khanam
24         Srikanth K.B
25          Sushmitha P
26          Syed Safeer
27     Tanziya Banu A.I
28          Upendra C.V
29        Veena Reddy R
30      Vijay Kumar T.N
31          Keerthi M.N
32        Sofiya Khanam
33         Srikanth K.B
34          Sushmitha P
35        Shanmukha G.S
36         Shravani C.N
Name: Student, dtype: object

is null value present in the data?

---

In [ ]:
df1.isnull()

       Sl  Student  Gender     Age  ...   S.S.  Total   Perc  Result
0   False    False    False  False  ...  False  False  False    False
1   False    False    False  False  ...  False  False  False    False
2   False    False    False  False  ...  False  False  False    False
3   False    False    False   True  ...  False  False  False    False
4   False    False    False   True  ...  False  False  False    False
5   False    False    False  False  ...  False  False  False    False
6   False    False    False  False  ...  False  False  False    False
7   False    False    False  False  ...  False  False  False    False
8   False    False    False  False  ...  False  False  False    False
9   False    False    False   True  ...  False  False  False    False
10  False    False    False  False  ...  False  False  False    False
11  False    False    False   True  ...  False  False  False    False
12  False    False    False  False  ...  False  False  False    False
13  False    False    False  False  ...  False  False  False    False
14  False    False    False   True  ...  False  False  False    False
15  False    False    False  False  ...  False  False  False    False
16  False    False    False  False  ...  False  False  False    False
17  False    False    False  False  ...  False  False  False    False
18  False    False    False  False  ...  False  False  False    False
19  False    False    False  False  ...  False  False  False    False
20  False    False    False  False  ...  False  False  False    False
21  False    False    False  False  ...  False  False  False    False
22  False    False    False  False  ...  False  False  False    False
23  False    False    False  False  ...  False  False  False    False
24  False    False    False  False  ...  False  False  False    False
25  False    False    False  False  ...  False  False  False    False
26  False    False    False  False  ...  False  False  False    False
27  False    False    False  False  ...  False  False  False    False
28  False    False    False  False  ...  False  False  False    False
29  False    False    False  False  ...  False  False  False    False
30  False    False    False  False  ...  False  False  False    False
31  False    False    False   True  ...  False  False  False    False
32  False    False    False  False  ...  False  False  False    False
33  False    False    False  False  ...  False  False  False    False
34  False    False    False  False  ...  False  False  False    False
35  False    False    False  False  ...  False  False  False    False
36  False    False    False  False  ...  False  False  False    False

[37 rows x 14 columns]

Yes,null value is present in age column.

replace missing values for the given column with its mean

---

In [ ]:
df1.fillna(df1.mean())

    Sl            Student Gender         Age  ... S.S.  Total  Perc Result
0    1        Adhil Pasha       m  17.000000  ...   59    380  76.0    pass
1    2         Anjali P.S       f  16.000000  ...   33    192  38.0    fail
2    3           Asfiya Z       f  17.000000  ...   66    340  68.0    pass
3    4  Bharath Kumar M.V       m  16.290323  ...   78    403  81.0    pass
4    5  Bhargav Reddy Y.S       m  16.290323  ...   72    366  73.0    pass
5    6        Bhavani P.V       f  15.000000  ...   53    320  64.0    pass
6    7  Chandra Kanth V.N       m  16.000000  ...   59    340  68.0    pass
7    8        Dharani R.B       f  16.000000  ...   57    347  69.0    pass
8    9          Divya T.D       f  17.000000  ...   33    321  64.0    pass
9   10         Janaki G.J       f  16.290323  ...   48    356  71.0    pass
10  11      Ghansi Rani S       f  17.000000  ...   59    386  77.0    pass
11  12        Keerthi M.N       m  16.290323  ...   45    256  51.0    pass
12  13    Misbha Sulthana       f  12.000000  ...   41    307  61.0    pass
13  14  Mohammed Sulaiman       m  17.000000  ...   50    359  72.0    pass
14  15        Naresha K.A       m  16.290323  ...   46    264  53.0    pass
15  16        Neha Khanam       f  15.000000  ...   40    286  57.0    pass
16  17     Noorain Sadiya       f  16.000000  ...   54    320  64.0    pass
17  18        Sameer Khan       m  18.000000  ...   75    441  88.0    pass
18  19            Samreen       m  16.000000  ...   47    361  72.0    pass
19  20   Sanjay Reddy P.G       m  16.000000  ...   59    314  63.0    pass
20  21      Shanmukha G.S       m  18.000000  ...   23    221  46.0    pass
21  22       Shravani C.N       f  16.000000  ...   57    327  65.0    pass
22  23         Sindhu B.C       f  16.000000  ...   73    421  84.0    pass
23  24      Sofiya Khanam       f  17.000000  ...   46    326  65.0    pass
24  25       Srikanth K.B       f  16.000000  ...   59    221  44.0    fail
25  26        Sushmitha P       f  16.000000  ...   50    303  61.0    pass
26  27        Syed Safeer       m  17.000000  ...   70    390  78.0    pass
27  28   Tanziya Banu A.I       f  16.000000  ...   76    438  87.6    pass
28  29        Upendra C.V       m  17.000000  ...   44    243  51.0    pass
29  30      Veena Reddy R       f  16.000000  ...   64    341  68.0    pass
30  31    Vijay Kumar T.N       f  16.000000  ...   68    384  77.0    pass
31  12        Keerthi M.N       m  16.290323  ...   45    256  51.0    pass
32  24      Sofiya Khanam       f  17.000000  ...   46    326  65.0    pass
33  25       Srikanth K.B       f  16.000000  ...   59    221  44.0    fail
34  26        Sushmitha P       f  16.000000  ...   50    303  61.0    pass
35  21      Shanmukha G.S       m  18.000000  ...   23    221  46.0    pass
36  22       Shravani C.N       f  16.000000  ...   57    327  65.0    pass

[37 rows x 14 columns]

Drop the duplicate rows 

---

In [ ]:
df1_sort=df1.sort_values('Student', inplace=False) 
df_2=df1.drop_duplicates(keep=False,inplace=False) 
df_2

    Sl            Student Gender    Age  ... S.S.  Total  Perc Result
0    1        Adhil Pasha       m  17.0  ...   59    380  76.0    pass
1    2         Anjali P.S       f  16.0  ...   33    192  38.0    fail
2    3           Asfiya Z       f  17.0  ...   66    340  68.0    pass
3    4  Bharath Kumar M.V       m   NaN  ...   78    403  81.0    pass
4    5  Bhargav Reddy Y.S       m   NaN  ...   72    366  73.0    pass
5    6        Bhavani P.V       f  15.0  ...   53    320  64.0    pass
6    7  Chandra Kanth V.N       m  16.0  ...   59    340  68.0    pass
7    8        Dharani R.B       f  16.0  ...   57    347  69.0    pass
8    9          Divya T.D       f  17.0  ...   33    321  64.0    pass
9   10         Janaki G.J       f   NaN  ...   48    356  71.0    pass
10  11      Ghansi Rani S       f  17.0  ...   59    386  77.0    pass
12  13    Misbha Sulthana       f  12.0  ...   41    307  61.0    pass
13  14  Mohammed Sulaiman       m  17.0  ...   50    359  72.0    pass
14  15        Naresha K.A       m   NaN  ...   46    264  53.0    pass
15  16        Neha Khanam       f  15.0  ...   40    286  57.0    pass
16  17     Noorain Sadiya       f  16.0  ...   54    320  64.0    pass
17  18        Sameer Khan       m  18.0  ...   75    441  88.0    pass
18  19            Samreen       m  16.0  ...   47    361  72.0    pass
19  20   Sanjay Reddy P.G       m  16.0  ...   59    314  63.0    pass
22  23         Sindhu B.C       f  16.0  ...   73    421  84.0    pass
26  27        Syed Safeer       m  17.0  ...   70    390  78.0    pass
27  28   Tanziya Banu A.I       f  16.0  ...   76    438  87.6    pass
28  29        Upendra C.V       m  17.0  ...   44    243  51.0    pass
29  30      Veena Reddy R       f  16.0  ...   64    341  68.0    pass
30  31    Vijay Kumar T.N       f  16.0  ...   68    384  77.0    pass

[25 rows x 14 columns]

List only students name

---

In [ ]:
df_2['Student']

0           Adhil Pasha
1            Anjali P.S
2              Asfiya Z
3     Bharath Kumar M.V
4     Bhargav Reddy Y.S
5           Bhavani P.V
6     Chandra Kanth V.N
7           Dharani R.B
8             Divya T.D
9            Janaki G.J
10        Ghansi Rani S
12      Misbha Sulthana
13    Mohammed Sulaiman
14          Naresha K.A
15          Neha Khanam
16       Noorain Sadiya
17          Sameer Khan
18              Samreen
19     Sanjay Reddy P.G
22           Sindhu B.C
26          Syed Safeer
27     Tanziya Banu A.I
28          Upendra C.V
29        Veena Reddy R
30      Vijay Kumar T.N
Name: Student, dtype: object

List out the student name and their corresponding percentage

---

In [ ]:
df_2.loc[:,('Student','Perc')]

              Student  Perc
0         Adhil Pasha  76.0
1          Anjali P.S  38.0
2            Asfiya Z  68.0
3   Bharath Kumar M.V  81.0
4   Bhargav Reddy Y.S  73.0
5         Bhavani P.V  64.0
6   Chandra Kanth V.N  68.0
7         Dharani R.B  69.0
8           Divya T.D  64.0
9          Janaki G.J  71.0
10      Ghansi Rani S  77.0
12    Misbha Sulthana  61.0
13  Mohammed Sulaiman  72.0
14        Naresha K.A  53.0
15        Neha Khanam  57.0
16     Noorain Sadiya  64.0
17        Sameer Khan  88.0
18            Samreen  72.0
19   Sanjay Reddy P.G  63.0
22         Sindhu B.C  84.0
26        Syed Safeer  78.0
27   Tanziya Banu A.I  87.6
28        Upendra C.V  51.0
29      Veena Reddy R  68.0
30    Vijay Kumar T.N  77.0

print first 4 observations using slicing technique

---

In [ ]:
df_2[0:4]

   Sl            Student Gender    Age  ... S.S.  Total  Perc Result
0   1        Adhil Pasha       m  17.0  ...   59    380  76.0    pass
1   2         Anjali P.S       f  16.0  ...   33    192  38.0    fail
2   3           Asfiya Z       f  17.0  ...   66    340  68.0    pass
3   4  Bharath Kumar M.V       m   NaN  ...   78    403  81.0    pass

[4 rows x 14 columns]

print the details of 3rd  student  

---

In [ ]:
df_2.iloc[2]

Sl                 3
Student     Asfiya Z
Gender             f
Age               17
Hobbies      cricket
Kan               60
Eng               53
Hin               66
Math              47
Sci               48
S.S.              66
Total            340
Perc              68
Result          pass
Name: 2, dtype: object

count number of students cleared the course

---

In [ ]:
df_2[df_2.iloc[:,13]=='pass'].count()[0]

24

How many students passed, failed the course ?

---

In [ ]:
passed_student=df_2[df_2.iloc[:,13]=='pass'].count()[0]
failed_student=df_2[df_2.iloc[:,13]=='fail'].count()[0]
print('No. of students passed:{}\nNo. of students failed:{}'.format(passed_student,failed_student))

No. of students passed:24
No. of students failed:1

rename the column name "Hin" to Hindi 

---

In [ ]:
df_2.rename(columns={'Hin': 'Hindi'})

    Sl            Student Gender    Age  ... S.S.  Total  Perc Result
0    1        Adhil Pasha       m  17.0  ...   59    380  76.0    pass
1    2         Anjali P.S       f  16.0  ...   33    192  38.0    fail
2    3           Asfiya Z       f  17.0  ...   66    340  68.0    pass
3    4  Bharath Kumar M.V       m   NaN  ...   78    403  81.0    pass
4    5  Bhargav Reddy Y.S       m   NaN  ...   72    366  73.0    pass
5    6        Bhavani P.V       f  15.0  ...   53    320  64.0    pass
6    7  Chandra Kanth V.N       m  16.0  ...   59    340  68.0    pass
7    8        Dharani R.B       f  16.0  ...   57    347  69.0    pass
8    9          Divya T.D       f  17.0  ...   33    321  64.0    pass
9   10         Janaki G.J       f   NaN  ...   48    356  71.0    pass
10  11      Ghansi Rani S       f  17.0  ...   59    386  77.0    pass
12  13    Misbha Sulthana       f  12.0  ...   41    307  61.0    pass
13  14  Mohammed Sulaiman       m  17.0  ...   50    359  72.0    pass
14  15        Naresha K.A       m   NaN  ...   46    264  53.0    pass
15  16        Neha Khanam       f  15.0  ...   40    286  57.0    pass
16  17     Noorain Sadiya       f  16.0  ...   54    320  64.0    pass
17  18        Sameer Khan       m  18.0  ...   75    441  88.0    pass
18  19            Samreen       m  16.0  ...   47    361  72.0    pass
19  20   Sanjay Reddy P.G       m  16.0  ...   59    314  63.0    pass
22  23         Sindhu B.C       f  16.0  ...   73    421  84.0    pass
26  27        Syed Safeer       m  17.0  ...   70    390  78.0    pass
27  28   Tanziya Banu A.I       f  16.0  ...   76    438  87.6    pass
28  29        Upendra C.V       m  17.0  ...   44    243  51.0    pass
29  30      Veena Reddy R       f  16.0  ...   64    341  68.0    pass
30  31    Vijay Kumar T.N       f  16.0  ...   68    384  77.0    pass

[25 rows x 14 columns]

Rename the column  "Eng" to English , Kan to "Kannada"

---

In [ ]:
df_2.rename(columns={'Eng': 'English','Kan':'Kannada'})

    Sl            Student Gender    Age  ... S.S.  Total  Perc Result
0    1        Adhil Pasha       m  17.0  ...   59    380  76.0    pass
1    2         Anjali P.S       f  16.0  ...   33    192  38.0    fail
2    3           Asfiya Z       f  17.0  ...   66    340  68.0    pass
3    4  Bharath Kumar M.V       m   NaN  ...   78    403  81.0    pass
4    5  Bhargav Reddy Y.S       m   NaN  ...   72    366  73.0    pass
5    6        Bhavani P.V       f  15.0  ...   53    320  64.0    pass
6    7  Chandra Kanth V.N       m  16.0  ...   59    340  68.0    pass
7    8        Dharani R.B       f  16.0  ...   57    347  69.0    pass
8    9          Divya T.D       f  17.0  ...   33    321  64.0    pass
9   10         Janaki G.J       f   NaN  ...   48    356  71.0    pass
10  11      Ghansi Rani S       f  17.0  ...   59    386  77.0    pass
12  13    Misbha Sulthana       f  12.0  ...   41    307  61.0    pass
13  14  Mohammed Sulaiman       m  17.0  ...   50    359  72.0    pass
14  15        Naresha K.A       m   NaN  ...   46    264  53.0    pass
15  16        Neha Khanam       f  15.0  ...   40    286  57.0    pass
16  17     Noorain Sadiya       f  16.0  ...   54    320  64.0    pass
17  18        Sameer Khan       m  18.0  ...   75    441  88.0    pass
18  19            Samreen       m  16.0  ...   47    361  72.0    pass
19  20   Sanjay Reddy P.G       m  16.0  ...   59    314  63.0    pass
22  23         Sindhu B.C       f  16.0  ...   73    421  84.0    pass
26  27        Syed Safeer       m  17.0  ...   70    390  78.0    pass
27  28   Tanziya Banu A.I       f  16.0  ...   76    438  87.6    pass
28  29        Upendra C.V       m  17.0  ...   44    243  51.0    pass
29  30      Veena Reddy R       f  16.0  ...   64    341  68.0    pass
30  31    Vijay Kumar T.N       f  16.0  ...   68    384  77.0    pass

[25 rows x 14 columns]

Count how many girls and boys 

---

In [ ]:
girls=df_2[df_2.iloc[:,2]=='f'].count()[0]
boys=df_2[df_2.iloc[:,2]=='m'].count()[0]
print('No. of girls:{}\nNo. of boys:{}'.format(girls,boys))

No. of girls:14
No. of boys:11

What is the maximum  Percentage  

---

In [ ]:
df_2['Perc'].max()

88.0

what is the minimum Percentage 

---

In [ ]:
df_2['Perc'].min()

38.0

What is the average Percentage 

---

In [ ]:
df_2['Perc'].mean()

68.984

Print the details of the topper

---

In [ ]:
df_2[df_2['Perc']==df_2['Perc'].max()]

    Sl      Student Gender    Age Hobbies   ...  Sci  S.S. Total  Perc  Result
17  18  Sameer Khan       m  18.0  cricket  ...   71    75   441  88.0     pass

[1 rows x 14 columns]

Print the details of least scorer

---

In [ ]:
df_2[df_2['Perc']==df_2['Perc'].min()]

   Sl     Student Gender    Age Hobbies   ...  Sci  S.S. Total  Perc  Result
1   2  Anjali P.S       f  16.0    chess  ...   25    33   192  38.0     fail

[1 rows x 14 columns]

convert datatype of hindi and math to int 

---

In [ ]:
convert = {'Hin': int,'Math': int} 
df_2 = df_2.astype(convert) 
print(df_2.dtypes)

Sl            int64
Student      object
Gender       object
Age         float64
Hobbies      object
Kan           int64
Eng           int64
Hin           int64
Math          int64
Sci           int64
S.S.          int64
Total         int64
Perc        float64
Result       object
dtype: object

Replace the value 'Ab' to 0 in the column Hindi and Math

---

In [ ]:
df_2['Hin'] = df_2['Hin'].replace(['Ab'],'0')
df_2['Math'] = df_2['Math'].replace(['Ab'],'0')
df_2

    Sl            Student Gender    Age  ... S.S.  Total  Perc  Result
0    1        Adhil Pasha       m  17.0  ...   59    380  76.0     pass
1    2         Anjali P.S       f  16.0  ...   33    192  38.0     fail
2    3           Asfiya Z       f  17.0  ...   66    340  68.0     pass
3    4  Bharath Kumar M.V       m   NaN  ...   78    403  81.0     pass
4    5  Bhargav Reddy Y.S       m   NaN  ...   72    366  73.0     pass
5    6        Bhavani P.V       f  15.0  ...   53    320  64.0     pass
6    7  Chandra Kanth V.N       m  16.0  ...   59    340  68.0     pass
7    8        Dharani R.B       f  16.0  ...   57    347  69.0     pass
8    9          Divya T.D       f  17.0  ...   33    321  64.0     pass
9   10         Janaki G.J       f   NaN  ...   48    356  71.0     pass
10  11      Ghansi Rani S       f  17.0  ...   59    386  77.0     pass
12  13    Misbha Sulthana       f  12.0  ...   41    307  61.0     pass
13  14  Mohammed Sulaiman       m  17.0  ...   50    359  72.0     pass
14  15        Naresha K.A       m   NaN  ...   46    264  53.0     pass
15  16        Neha Khanam       f  15.0  ...   40    286  57.0     pass
16  17     Noorain Sadiya       f  16.0  ...   54    320  64.0     pass
17  18        Sameer Khan       m  18.0  ...   75    441  88.0     pass
18  19            Samreen       m  16.0  ...   47    361  72.0     pass
19  20   Sanjay Reddy P.G       m  16.0  ...   59    314  63.0     pass
22  23         Sindhu B.C       f  16.0  ...   73    421  84.0     pass
26  27        Syed Safeer       m  17.0  ...   70    390  78.0     pass
27  28   Tanziya Banu A.I       f  16.0  ...   76    438  87.6     pass
28  29        Upendra C.V       m  17.0  ...   44    243  51.0     pass
29  30      Veena Reddy R       f  16.0  ...   64    341  68.0     pass
30  31    Vijay Kumar T.N       f  16.0  ...   68    384  77.0     pass

[25 rows x 14 columns]

create a column called langtotal by adding Kannada , English and Hindi marks 

---

In [ ]:
df_2['langtotal']=df_2['Kan']+df_2['Eng']+df_2['Hin']
df_2

    Sl            Student Gender    Age  ... Total  Perc  Result   langtotal
0    1        Adhil Pasha       m  17.0  ...   380  76.0     pass        224
1    2         Anjali P.S       f  16.0  ...   192  38.0     fail        109
2    3           Asfiya Z       f  17.0  ...   340  68.0     pass        179
3    4  Bharath Kumar M.V       m   NaN  ...   403  81.0     pass        215
4    5  Bhargav Reddy Y.S       m   NaN  ...   366  73.0     pass        196
5    6        Bhavani P.V       f  15.0  ...   320  64.0     pass        188
6    7  Chandra Kanth V.N       m  16.0  ...   340  68.0     pass        197
7    8        Dharani R.B       f  16.0  ...   347  69.0     pass        185
8    9          Divya T.D       f  17.0  ...   321  64.0     pass        201
9   10         Janaki G.J       f   NaN  ...   356  71.0     pass        213
10  11      Ghansi Rani S       f  17.0  ...   386  77.0     pass        225
12  13    Misbha Sulthana       f  12.0  ...   307  61.0     pass        192
13  14  Mohammed Sulaiman       m  17.0  ...   359  72.0     pass        210
14  15        Naresha K.A       m   NaN  ...   264  53.0     pass        142
15  16        Neha Khanam       f  15.0  ...   286  57.0     pass        158
16  17     Noorain Sadiya       f  16.0  ...   320  64.0     pass        189
17  18        Sameer Khan       m  18.0  ...   441  88.0     pass        242
18  19            Samreen       m  16.0  ...   361  72.0     pass        219
19  20   Sanjay Reddy P.G       m  16.0  ...   314  63.0     pass        184
22  23         Sindhu B.C       f  16.0  ...   421  84.0     pass        234
26  27        Syed Safeer       m  17.0  ...   390  78.0     pass        217
27  28   Tanziya Banu A.I       f  16.0  ...   438  87.6     pass        241
28  29        Upendra C.V       m  17.0  ...   243  51.0     pass        145
29  30      Veena Reddy R       f  16.0  ...   341  68.0     pass        174
30  31    Vijay Kumar T.N       f  16.0  ...   384  77.0     pass        213

[25 rows x 15 columns]

drop the column 'English'

---

In [ ]:
df_2.drop(['Eng'], axis = 1)

    Sl            Student Gender    Age  ... Total  Perc  Result   langtotal
0    1        Adhil Pasha       m  17.0  ...   380  76.0     pass        224
1    2         Anjali P.S       f  16.0  ...   192  38.0     fail        109
2    3           Asfiya Z       f  17.0  ...   340  68.0     pass        179
3    4  Bharath Kumar M.V       m   NaN  ...   403  81.0     pass        215
4    5  Bhargav Reddy Y.S       m   NaN  ...   366  73.0     pass        196
5    6        Bhavani P.V       f  15.0  ...   320  64.0     pass        188
6    7  Chandra Kanth V.N       m  16.0  ...   340  68.0     pass        197
7    8        Dharani R.B       f  16.0  ...   347  69.0     pass        185
8    9          Divya T.D       f  17.0  ...   321  64.0     pass        201
9   10         Janaki G.J       f   NaN  ...   356  71.0     pass        213
10  11      Ghansi Rani S       f  17.0  ...   386  77.0     pass        225
12  13    Misbha Sulthana       f  12.0  ...   307  61.0     pass        192
13  14  Mohammed Sulaiman       m  17.0  ...   359  72.0     pass        210
14  15        Naresha K.A       m   NaN  ...   264  53.0     pass        142
15  16        Neha Khanam       f  15.0  ...   286  57.0     pass        158
16  17     Noorain Sadiya       f  16.0  ...   320  64.0     pass        189
17  18        Sameer Khan       m  18.0  ...   441  88.0     pass        242
18  19            Samreen       m  16.0  ...   361  72.0     pass        219
19  20   Sanjay Reddy P.G       m  16.0  ...   314  63.0     pass        184
22  23         Sindhu B.C       f  16.0  ...   421  84.0     pass        234
26  27        Syed Safeer       m  17.0  ...   390  78.0     pass        217
27  28   Tanziya Banu A.I       f  16.0  ...   438  87.6     pass        241
28  29        Upendra C.V       m  17.0  ...   243  51.0     pass        145
29  30      Veena Reddy R       f  16.0  ...   341  68.0     pass        174
30  31    Vijay Kumar T.N       f  16.0  ...   384  77.0     pass        213

[25 rows x 14 columns]

drop the column "Hindi" and "Kannada"

---

In [ ]:
df_2.drop(['Hin'], axis = 1)
df_2.drop(['Kan'], axis = 1)

    Sl            Student Gender    Age  ... Total  Perc  Result   langtotal
0    1        Adhil Pasha       m  17.0  ...   380  76.0     pass        224
1    2         Anjali P.S       f  16.0  ...   192  38.0     fail        109
2    3           Asfiya Z       f  17.0  ...   340  68.0     pass        179
3    4  Bharath Kumar M.V       m   NaN  ...   403  81.0     pass        215
4    5  Bhargav Reddy Y.S       m   NaN  ...   366  73.0     pass        196
5    6        Bhavani P.V       f  15.0  ...   320  64.0     pass        188
6    7  Chandra Kanth V.N       m  16.0  ...   340  68.0     pass        197
7    8        Dharani R.B       f  16.0  ...   347  69.0     pass        185
8    9          Divya T.D       f  17.0  ...   321  64.0     pass        201
9   10         Janaki G.J       f   NaN  ...   356  71.0     pass        213
10  11      Ghansi Rani S       f  17.0  ...   386  77.0     pass        225
12  13    Misbha Sulthana       f  12.0  ...   307  61.0     pass        192
13  14  Mohammed Sulaiman       m  17.0  ...   359  72.0     pass        210
14  15        Naresha K.A       m   NaN  ...   264  53.0     pass        142
15  16        Neha Khanam       f  15.0  ...   286  57.0     pass        158
16  17     Noorain Sadiya       f  16.0  ...   320  64.0     pass        189
17  18        Sameer Khan       m  18.0  ...   441  88.0     pass        242
18  19            Samreen       m  16.0  ...   361  72.0     pass        219
19  20   Sanjay Reddy P.G       m  16.0  ...   314  63.0     pass        184
22  23         Sindhu B.C       f  16.0  ...   421  84.0     pass        234
26  27        Syed Safeer       m  17.0  ...   390  78.0     pass        217
27  28   Tanziya Banu A.I       f  16.0  ...   438  87.6     pass        241
28  29        Upendra C.V       m  17.0  ...   243  51.0     pass        145
29  30      Veena Reddy R       f  16.0  ...   341  68.0     pass        174
30  31    Vijay Kumar T.N       f  16.0  ...   384  77.0     pass        213

[25 rows x 14 columns]

Drop the columns based on index 0

In [ ]:
df_2.drop(df_2.columns[0], axis = 1)

              Student Gender    Age  Hobbies   ...  Total  Perc  Result   langtotal
0         Adhil Pasha       m  17.0   cricket  ...    380  76.0     pass        224
1          Anjali P.S       f  16.0     chess  ...    192  38.0     fail        109
2            Asfiya Z       f  17.0   cricket  ...    340  68.0     pass        179
3   Bharath Kumar M.V       m   NaN  checkers  ...    403  81.0     pass        215
4   Bhargav Reddy Y.S       m   NaN   hockey   ...    366  73.0     pass        196
5         Bhavani P.V       f  15.0     chess  ...    320  64.0     pass        188
6   Chandra Kanth V.N       m  16.0     chess  ...    340  68.0     pass        197
7         Dharani R.B       f  16.0  checkers  ...    347  69.0     pass        185
8           Divya T.D       f  17.0  checkers  ...    321  64.0     pass        201
9          Janaki G.J       f   NaN  checkers  ...    356  71.0     pass        213
10      Ghansi Rani S       f  17.0  checkers  ...    386  77.0     pass        225
12    Misbha Sulthana       f  12.0     chess  ...    307  61.0     pass        192
13  Mohammed Sulaiman       m  17.0   cricket  ...    359  72.0     pass        210
14        Naresha K.A       m   NaN   cricket  ...    264  53.0     pass        142
15        Neha Khanam       f  15.0   cricket  ...    286  57.0     pass        158
16     Noorain Sadiya       f  16.0   cricket  ...    320  64.0     pass        189
17        Sameer Khan       m  18.0   cricket  ...    441  88.0     pass        242
18            Samreen       m  16.0   cricket  ...    361  72.0     pass        219
19   Sanjay Reddy P.G       m  16.0   cricket  ...    314  63.0     pass        184
22         Sindhu B.C       f  16.0     chess  ...    421  84.0     pass        234
26        Syed Safeer       m  17.0   cricket  ...    390  78.0     pass        217
27   Tanziya Banu A.I       f  16.0  checkers  ...    438  87.6     pass        241
28        Upendra C.V       m  17.0   cricket  ...    243  51.0     pass        145
29      Veena Reddy R       f  16.0  checkers  ...    341  68.0     pass        174
30    Vijay Kumar T.N       f  16.0   cricket  ...    384  77.0     pass        213

[25 rows x 14 columns]

List the hobbies of the students

---

In [ ]:
df_2.iloc[:,4]

0      cricket
1        chess
2      cricket
3     checkers
4      hockey
5        chess
6        chess
7     checkers
8     checkers
9     checkers
10    checkers
12       chess
13     cricket
14     cricket
15     cricket
16     cricket
17     cricket
18     cricket
19     cricket
22       chess
26     cricket
27    checkers
28     cricket
29    checkers
30     cricket
Name: Hobbies , dtype: object

List out the unique hobbies 

---

In [ ]:
df_2.iloc[:,4].unique()

array(['cricket', 'chess', 'checkers', 'hockey '], dtype=object)

How many hobbies are there in the dataset 

---

In [ ]:
hobbies=df_2.iloc[:,4]
unique, counts = np.unique(hobbies, return_counts=True)
counts

array([ 7,  5, 12,  1])

what is the most frequent hobbies 

---

In [ ]:
import collections
freq_hobbies=collections.Counter(hobbies)
freq_hobbies

Counter({'checkers': 7, 'chess': 5, 'cricket': 12, 'hockey ': 1})

What is the minimum maximum and avg percentage 

---

In [ ]:
print('Min percentage is',df_2['Perc'].min())
print('Max percentage is',df_2['Perc'].max())
print('Average percentage is',df_2['Perc'].mean())

Min percentage is 38.0
Max percentage is 88.0
Average percentage is 68.984

what is the Total marks of  20th student

---

In [ ]:
print('total marks of 20th student is',df_2.iloc[20,11])

total marks of 20th student is 390

what is the Average marks in English

---

In [ ]:
df_2['Eng'].mean()

54.64

Sort  the dataframe based on Total

---

In [ ]:
df_2.sort_values(by='Total')

    Sl            Student Gender    Age  ... Total  Perc  Result   langtotal
1    2         Anjali P.S       f  16.0  ...   192  38.0     fail        109
28  29        Upendra C.V       m  17.0  ...   243  51.0     pass        145
14  15        Naresha K.A       m   NaN  ...   264  53.0     pass        142
15  16        Neha Khanam       f  15.0  ...   286  57.0     pass        158
12  13    Misbha Sulthana       f  12.0  ...   307  61.0     pass        192
19  20   Sanjay Reddy P.G       m  16.0  ...   314  63.0     pass        184
5    6        Bhavani P.V       f  15.0  ...   320  64.0     pass        188
16  17     Noorain Sadiya       f  16.0  ...   320  64.0     pass        189
8    9          Divya T.D       f  17.0  ...   321  64.0     pass        201
2    3           Asfiya Z       f  17.0  ...   340  68.0     pass        179
6    7  Chandra Kanth V.N       m  16.0  ...   340  68.0     pass        197
29  30      Veena Reddy R       f  16.0  ...   341  68.0     pass        174
7    8        Dharani R.B       f  16.0  ...   347  69.0     pass        185
9   10         Janaki G.J       f   NaN  ...   356  71.0     pass        213
13  14  Mohammed Sulaiman       m  17.0  ...   359  72.0     pass        210
18  19            Samreen       m  16.0  ...   361  72.0     pass        219
4    5  Bhargav Reddy Y.S       m   NaN  ...   366  73.0     pass        196
0    1        Adhil Pasha       m  17.0  ...   380  76.0     pass        224
30  31    Vijay Kumar T.N       f  16.0  ...   384  77.0     pass        213
10  11      Ghansi Rani S       f  17.0  ...   386  77.0     pass        225
26  27        Syed Safeer       m  17.0  ...   390  78.0     pass        217
3    4  Bharath Kumar M.V       m   NaN  ...   403  81.0     pass        215
22  23         Sindhu B.C       f  16.0  ...   421  84.0     pass        234
27  28   Tanziya Banu A.I       f  16.0  ...   438  87.6     pass        241
17  18        Sameer Khan       m  18.0  ...   441  88.0     pass        242

[25 rows x 15 columns]